extend layouts/layout

block head
    title Search Results

block content
        #new
            p Searched for devices within #{search.radius} km of #{search.location}.
            if !results 
                p There are no devices in that area!
            else
                table
                    thead
                        tr: th(colspan='9') Search Results
                    tbody
                        tr(class='table-header') 
                            td Nickname
                            td Phone #
                            td Location
                            td Sampling Rate
                            td Messaging Rate
                            td Distance (km)
                        each result, i in results
                            if(result.distance < parseFloat(search.radius) )
                                tr(class=(i % 2 == 0) ? 'odd' : 'even') 
                                    td  
                                        a(href='/devices/#{result.device.id}') #{result.device.nickname}
                                    td  #{result.device.phone_number}
                                    td  #{result.device.location_x}, #{result.device.location_y}
                                    td  #{result.device.sampling_rate}
                                    td  #{result.device.messaging_rate}
                                    td  #{result.distance}
