extend layout

table
  thead
    tr
      th Result
      th Time
      th Test ID
      th Device ID
  tbody
    - each item in #{items}
      tr
        td= item.result
        td= item.time
        td= item.test_id
        td= item.device_id
        
