extends ../layouts/layout

block head
    title Device: #{device.nickname}

block content
    #info 
        if admin
            form(action="/devices/update/"+device.id method="post")
                table(class='update_form')
                    thead
                        tr: th(colspan='2') Update Settings
                    tbody
                        tr
                            td Nickname
                            td
                                input(type="text" name="nickname" value=device.nickname)
                        tr
                            td Phone number:
                            td
                                input(type="text" name="phone_number" value=device.phone_number)
                        tr
                            td Latitude
                            td 
                                input(type="text" name="location_x" value=device.location_x)
                        tr
                            td Longitude
                            td
                                input(type="text" name="location_y" value=device.location_y)
                        tr
                            td Sampling Rate
                            td
                                input(type="number" name="sampling_rate" value=device.sampling_rate)
                        tr
                            td Messaging Rate
                            td 
                                input(type="number" name="messaging_rate" value=device.messaging_rate)
                        tr 
                            td
                                input(type="submit" value="Update Device")
        else 
            table
                tr
                    td Location
                    td #{device.location_x}, #{device.location_y}
                tr
                    td Sampling Rate
                    td #{device.sampling_rate}
                tr
                    td Messaging Rate 
                    td #{device.messaging_rate}


    #map
        iframe(type='text/html' width='400' height='400'
        src="https://www.google.com/maps/embed/v1/place"+
        "?key=AIzaSyCBScX13K21yXDKe5131QXkwhLskNCQi6w"+
        "&q=" + device.location_x  +"," + device.location_y
        +"&zoom=17&maptype=satellite" frameborder='0')

    #text
        h2 Send the device a test text
        form(action="/texts/test" method="post")
            input(type="text" name="Body" placeholder="Text Body")
            br
            div
                input(type="submit" value="Send")

    
    #results
        table
            thead
                tr: th(colspan='3') Test Results
            tbody
                if(results.length == 0)
                    tr(class='odd')
                        td(colspan='3')  This device has not reported any results yet.
                else
                    tr(class='table-header') 
                        td Time
                        td Test
                        td Result
                        each result, i in results
                            tr(class=(i % 2 == 0) ? 'odd' : 'even') 
                                td #{result.time} 
                                if(result.test_id == 0)
                                    td Water Detection
                                else if(result.test_id == 1)
                                    td pH
                                else if(result.test_id == 2)
                                    td Turbidity
                                else if(result.test_id == 3)
                                    td Temperature
                                else 
                                    td N/A
                                td #{result.result}
